

.Container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1044px;
}

.Item {
  color: #000;
  flex: 0 0 300px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 24px;
  text-decoration: none;
}

.Playlist {
  color: #000;
  position: absolute;
  left: 52px;
  text-decoration: none;
  top: -20px;
}

.Preview {
  width: 100%;

}

.Title {
  max-height: 48px;
  overflow: hidden;
}

.Wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .Item {
    flex: 0 0 100%;
    margin: 24px 0 0;
  }

  .Playlist {
    left: 0;
  }
}