.Root {
  background-color: #1C3B4F;
  color: #FFFFFF;
  padding: 260px 24px 160px;
  position: relative;

  &WithMenu {
    .Wrapper {
      opacity: 0;
    }
  }
}

.Button {
  align-items: center;
  background-color: #C92A3E;
  border: 0;
  border-radius: 20px;
  display: flex;
  color: #FFFFFF;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  margin-left: 24px;
  text-decoration: none;
  width: 184px;

  &:hover {
    background: #E23147;
    cursor: pointer;
  }
}

.Cover {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  &Video {
    height: auto;
    left: 50%;
    max-width: 150%;
    min-height: 100%;
    min-width: 100%;
    opacity: .5;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -1000;
  }
}

.Form {
  display: flex;
  margin-top: 80px;
}

.Input {
  background: rgba(255, 255, 255, .1);
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: #FFFFFF;
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding: 0 16px;
  width: 424px;

  &::-webkit-input-placeholder {color: #FFFAFA;}
  &::-moz-placeholder          {color: #FFFAFA;}
  &:-moz-placeholder           {color: #FFFAFA;}
  &:-ms-input-placeholder      {color: #FFFAFA;}

  &:focus {
    outline: none;
  }
}

.Menu {
  height: 100px;
  position: absolute;
  top: 0;
  width: 1200px;
}

.Slogan {
  font-size: 16px;
  line-height: 24px;
  margin-top: 44px;
  text-align: center;
  white-space: pre-wrap;
}

.Title {
  font-size: 44px;
  line-height: 64px;
  max-width: 664px;
  text-align: center;
  white-space: pre-wrap;
}

.Wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: opacity .2s;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .Root {
    padding: 140px 24px 60px;
  }

  .Button {
    height: 40px;
    margin: 12px 0 0;
  }

  .Cover {
    &Video {
      max-height: 100%;
      min-width: auto;
    }
  }

  .Form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    width: 100%;
  }

  .Input {
    border: 0;
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 40px;
    width: 100%;
  }

  .Menu {
    height: auto;
    left: 0;
    top: 0;
    width: 100%;
  }

  .Slogan {
    font-size: 14px;
    margin-top: 8px;
  }

  .Title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
}
