.Root {
  background-color: #EAEEF2;
}

.Action {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: inherit;
  display: flex;
  height: 48px;
  justify-content: center;
  text-decoration: none;
  width: 184px;

  &:nth-child(1) {
    width: 280px;
  }

  &:hover {
    background-color: #A8A8A8;
    color: #FFFFFF;
  }

  &:not(:first-child) {
    margin-left: 28px;
  }

  &Red {
    background: #C92A3E;
    color: #FFFFFF;

    &:hover {
      background: #E23147;
    }
  }
}

.Actions {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.Item {
  display: flex;
  flex-direction: column;
  max-width: 320px;

  &Description {
    line-height: 24px;
    margin-top: 16px;
    text-align: center;
  }

  &Icon {
    display: flex;
    flex: 0 0 200px;
    justify-content: center;
  }

  &Title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 42px;
    text-align: center;
  }
}

.List {
  display: grid;
  grid-column-gap: 80px;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
  .Action {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;

    &:nth-child(1) {
      width: 280px;
    }

    &:not(:first-child) {
      margin: 12px 0 0;
    }
  }

  .Actions {
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
  }

  .Feature {
    padding: 48px 0;

    &:not(:first-child) {
      border-top: 1px solid #FFFFFF;

      .FeatureContainer {
        border-left: 0;
      }
    }
  }

  .Item {
    &:not(:first-child) {
      margin-top: 64px;
    }

    &Description {
      font-size: 14px;
      margin-top: 8px;
    }

    &Icon {
      flex: 0 0 auto;
    }
  }

  .List {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
