.Root {
  background: #EAEEF2;
}

.Item {
  background-color: #FFFFFF;
  flex: 1 1 auto;
  height: 4px;
  max-width: calc(100% / 7);
  position: relative;

  &:last-child {
    flex: 0 0 16px;

    .ItemContent {
      left: auto;
      right: -36px;
      text-align: right;
    }
  }

  &:nth-child(even) {
    .ItemContent {
      bottom: 28px;
      flex-direction: column-reverse;
      top: auto;
    }

    .ItemDescription {
      margin: 0 0 12px;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    left: -36px;
    position: absolute;
    top: 28px;
    width: 240px;
  }

  &Description {
    font-size: 14px;
    line-height: 24px;
    margin: 12px 0 0;
  }

  &Point {
    background: #DEDEDE;
    border: 3px solid #FFFFFF;
    border-radius: 100%;
    height: 12px;
    position: absolute;
    top: -7px;
    width: 12px;
  }

  &Title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &Type {
    &Current {
      background: #7F8D98;

      .ItemPoint {
        background: #C92A3E;
        border-color: #C92A3E;
      }
    }

    &Past {
      background: #243B4D;

      .ItemPoint {
        background: #C92A3E;
        border-color: #C92A3E;
      }
    }
  }
}

.List {
  align-items: center;
  display: flex;
  height: 320px;
}

@media only screen and (max-width: 768px) {
  .Item {
    flex: 0 0 100px;
    height: 100px;
    width: 4px;

    &:nth-child(even) {
      .ItemContent {
        bottom: auto;
        flex-direction: column;
        left: auto;
        right: 16px;
        text-align: right;
        top: -6px;
      }

      .ItemDescription {
        margin: 0 0 12px;
      }
    }

    &Content {
      left: 16px;
      top: -6px;
      width: 136px;
    }

    &Description {
      font-size: 12px;
      margin-top: 4px;
    }

    &Point {
      height: 8px;
      left: -5px;
      top: auto;
      width: 8px;
    }

    &Title {
      font-size: 14px;
    }
  }

  .List {
    flex-direction: column;
    height: auto;
  }
}
