.Root {
  background: #1C3B4F;
  color: #FFFFFF;
}

.Image {
  &Desktop {
    display: block;
  }

  &Mobile {
    display: none;
    max-width: 100%;
    width: 320px;
  }
}

@media only screen and (max-width: 768px) {
  .Image {
    &Desktop {
      display: none;
    }

    &Mobile {
      display: block;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }

  .Wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
