.Root {
  align-items: center;
  color: #2C3E4F;
  display: flex;
  flex-direction: column;
  padding: 160px 24px;
}

.Container {
  max-width: 1100px;
  width: 100%;
}

.Title {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 60px;
  max-width: 1100px;
}

@media only screen and (max-width: 768px) {
  .Root {
    padding: 80px 24px;
  }

  .Title {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 48px;
    text-align: center;
  }
}
