.Root {
  display: flex;
  flex-direction: column;

  &Color {
    &Dark {
      .Header {
        color: #1C3B4F;
      }

      .Rent {
        &Action {
          color: #1C3B4F;
        }
      }
    }
  }
}

.Header {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1200px;
  z-index: 10;

  &Center {
    height: 100%;
  }

  &Left {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
  }

  &Logo {
    height: 68px;
  }

  &Rate {
    border-left: 1px solid #C92A3E;
    font-size: 14px;
    margin-left: 16px;
    padding-left: 16px;
  }

  &Right {
    margin-left: 60px;
  }
}

.Language {
  display: flex;
  justify-content: space-around;
  margin: 12px 0 0;

  &Item {
    opacity: .6;

    &:hover {
      cursor: pointer;
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.Rent {
  margin: 28px 0 0 36px;

  &Action {
    align-items: center;
    border: 2px solid #5E8896;
    border-radius: 20px;
    color: rgba(255, 255, 255, .7);
    display: flex;
    font-weight: 500;
    height: 44px;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 180px;
    z-index: 2;

    &:hover {
      background: #5E8896; 
      color: rgba(255, 255, 255, 1);

      .RentTooltip {
        display: block;
      }
    }
  }

  &Tooltip {
    background: #5E8896;
    border-radius: 20px;
    box-sizing: border-box;
    display: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    left: 0;
    padding: 12px 36px;
    position: absolute;
    top: 58px;
    width: 100%;
  }
}
