.Root {
  overflow: hidden;

  &WithMenu {
    position: fixed;
    height: 100%;
    width: 100%;

    .Container {
      filter: blur(8px);
      transform: scale(1.1, 1);
    }

    .Header {
      background-color: rgba(0, 0, 0, .2);
      height: 100%;
      position: fixed;

      &Burger {
        background-image: url('./assets/close.svg');
      }

      &Dropdown {
        left: 0;
        opacity: 1;
        position: relative;
        visibility: visible;
      }
    }
  }
}

.Container {
  transition: all .2s;
}

.Header {
  display: flex;
  flex-direction: column;
  height: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  &Container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 24px;
  }

  &Dropdown {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    left: -9999px;
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
    visibility: hidden;
  }

  &Burger {
    background: transparent url('./assets/burger.svg') no-repeat center center;
    border: 0;
    height: 24px;
    width: 24px;

    &:focus {
      outline: none;
    }
  }

  &Logo {
    height: 40px;
  }
}

.Language {
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin: 12px 0 0;

  &Item {
    opacity: .6;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      opacity: 1;
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin: 0 0 0 12px;
    }

    &Is {
      &Selected {
        font-weight: 700;
        opacity: 1;
        pointer-events: none;
      }
    }
  }
}

.Menu {
  flex: 1 1 auto;
}

.Rate {
  align-items: center;
  background: #2C3E4F;
  color: rgba(255, 255, 255, .6);
  display: flex;
  flex: 0 0 40px;
  font-size: 14px;
  justify-content: center;
  height: 40px;
}

.Rent {
  display: flex;
  justify-content: center;
  margin: 36px 0;

  &Action {
    align-items: center;
    border: 2px solid #5E8896;
    border-radius: 20px;
    color: #FFFFFF;
    display: flex;
    height: 44px;
    justify-content: center;
    text-decoration: none;
    width: 160px;
  }
}
